html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Monteserrat', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Monteserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: rgb(7,38,59);
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-weight: 300;
  line-height: 1.5em;
}